{{ block title }}
    Participant Information and Consent Form
{{ endblock }}
{{ block content }}
<p>
How will my confidentiality be protected? Any responses you provide will be completely anonymous—you will be given a random participant code that cannot be linked to your personal identity in any way. If you give us your permission by completing and submitting the survey, we plan to discuss/publish the results in an academic forum. In any publication, information will be provided in such a way that you cannot be identified. Only members of the research team will have access to the original data set, which will be stored on a password-locked computer. Before your data is shared outside the research team, any potentially identifying information (such as any significant experience you may describe) will be removed. Once identifying information has been removed, the data you provide may be used by the research team, or shared with other researchers, for both related and unrelated research purposes in the future. Your (anonymous) data may also be made available in online data repositories such as the Open Science Framework, which allow other researchers and interested parties to access the data for further analysis.
</p>
<p>
This study has been reviewed and approved by the Research Ethics Committee of the institution (Reference number: XXXX).
</p>
<p>
  <u>Consent statement</u>
</p>
<p>
I consent to participate in this project, the details of which have been explained to me, and I have been provided with a written plain language statement. I understand that my participation in this study is entirely voluntary. I understand that after I click the button below this consent form will be retained by the researcher. I acknowledge that:
</p>
<p>
<ol>
  <li> I have been informed that I am free to withdraw from the project at any time without explanation or prejudice and to withdraw any unprocessed data I have provided;</li>
  <li> the project is for the purpose of research; </li>
  <li>I have been informed that the confidentiality of the information I provide will be safeguarded subject to any legal requirements;</li>
  <li> Any information I provide will be completely anonymous;</li>
  <li>Only members of the research team will have access to my raw data, which will be stored on a password-locked computer. Once all identifiable information has been removed, my anonymous responses may be shared with other researchers or made available in online data repositories.</li>

<p>

  I consent to participating in this research, and to the responses I provide being used as indicated above:
</p>

<button name="is_consent" value="True">Accept</button>
<button name="is_consent" value="False">Decline</button>


{{ endblock }}
