
{{ block title }}
Instructions
{{ endblock }}
{{ block content }}

<p><center><b>General Instructions</b></center></p>
<p>
  Welcome! You are about to take part in a decision-making experiment. This experiment has been financed by various research institutions. Just for showing up you have already earned £2.50. You can earn additional money depending on the decisions made by you and other participants. It is therefore very important that you read these instructions with care.
</p>
<p>
<i>
  It is important that you remain silent and do not look at other people’s work. If you have any questions, or need assistance of any kind, please raise your hand and an experimenter will come to you. You may use the provided scrap paper but no phones, calculators, or other devices. If you use a device, talk, laugh, exclaim out loud, etc., you will be asked to leave and you will not be paid. We expect and appreciate your following of these rules.
  </i>
</p>
<p>
  We would like to stress that any choices you make in this experiment are entirely anonymous. Please do not touch the computer or its mouse until you are instructed to do so. If you have any questions at any point, please raise your hand and one of us will come to your desk to answer your question. Please do not ask any question out loud. Thank you.
</p>

<p><center><b>Detailed Information about the Experiment</b></center></p>

<p>
This is an experiment where you will be conducting a summation task. In addition to your £2.50 show-up fee, you will be paid an additional amount based on how you complete the task.
</p>
<p>
You will be given 40 minutes to work on the task. The task consists of summing up 36 numbers in tables with 6 rows and 6 columns. After completing a summation, you will get another table with different, randomly generated, numbers.<b> You will be paid £0.20 for each table you complete correctly</b>. That is, all additions within a table must be correct.
</p>
<p>
Each table is completed in two steps:
</p>
<p>
<b>Step 1:</b> You will sum up the numbers in all the columns (from Column 1 to Column 6).
</p>
<p>
<b>Step 2:</b> You will then add up the totals in Step 1 to obtain a final total.
</p>
<p>
  Below, we provide you with a screenshot example of how to complete a table.
</p>
<p>
<b>Step 1:</b> You will first need to sum up the numbers in each column in the table (similar to the ones below). As shown in the screenshot below, you will be asked to do additions for each column first. You must input the sum of each one of the 6 columns in the <span style="color:#04f3eb;">blue cells</span>. Filling in these cells does not directly generate earnings, but it can help you to compute the final sum.
</p>

******************INSERT SCREEENSHOOOTS******

<p>
  <b>Step 2:</b>
  </p>

<p>
After filling in the total for all columns in the <span style="color:#04f3eb;">blue cells</span>, i.e. Columns 1-6, you will have to provide the final answer (the total sum) in the <span style="color:#FFC300;">orange cell</span> located in the bottom row on the right. For the final answer you need to add all the sums you did for Column 1 to Column 6. You will input this total in the <span style="color:#FFC300;">orange cell</span> (in the bottom row, far right). Afterwards, click on the “Submit” button on the bottom left corner of the screen to submit your final answer. Only the final answer (total sum of the table in the <span style="color:#FFC300;">orange cell</span>) is rewarded. Intermediate sums of all columns (<span style="color:#04f3eb;">blue cells</span>) are required but not rewarded. Once you have submitted your final answer, you are immediately informed whether your answer is correct or not.
</p>

<p>
As soon as you have submitted your answer, a new table will be provided. You can choose not to solve a table by clicking the ‘Submit’ button without typing anything as an answer. In this case, you will be moved to the next problem.
</p>
<p>
  <b>
    Remember that you will be paid £0.20 for each correct table summation.
  </b>
</p>
<p>
  Before the experiment begins, one practice round will be played, for which you will not be paid. This is just for you to familiarise yourself with the task. The practice round will last for 3 minutes.
</p>

<p>
  Do you have any questions? Please raise your hand and an experimenter will come to your desk. Please do not ask any question out loud.
</p>
<p>

  INSERT IMAGE
   A picture containing chart

  Description automatically generated


</p>




Press NEXT below if you are ready to start the activity.


  {{ next_button }}

  {{ endblock }}
